    <link rel="stylesheet" href="./styles/main.css">

    <section id="contact">
        <div id="contact-profiles">
            <li><a href="mailto:adityapatil2708@gmail.com" target="_blank"><img src="./images/icons8-gmail.svg" alt="gmail"></a></li>
            <li><a href="https://www.instagram.com/adityapatil_27/# " target="_blank"><img src="./images/icons8-instagram.svg" alt="insta"></a></li>
            <li><a href="https://linkedin.com/in/aditya-p-986955237" target="_blank"><img src="./images/icons8-linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://github.com/AdityaNPatil" target="_blank"><img src="./images/icons8-github.svg" alt="github"></a></li>
        </div>
    </section>

    <footer>
        <p>&copy;Aditya Patil @ AditypaP2708. Made in 2023</p>
    </footer>
